body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

select {
  width: 50%;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
}

.btn {
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.logbtn {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  width: 70px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  border: 1px solid #dad7d7;
  width: 590px;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  margin: 10px; 
  
}

.logincontainer {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.login {
  border: 1px solid #dad7d7;
  width: 590px;
  border-radius: 25px;
  display: inline-block;
  align-items: center;
  margin-top: 18%; 
  height: 190px;
  
  
}

.options-green {
  border: 1px solid #d3d3d3;
  border-radius: 1.0rem;
  margin: 5px;
  background-color: green;
}

.options-red {
  border: 1px solid #d3d3d3;
  border-radius: 1.0rem;
  margin: 5px;
  background-color: red;
}

.content {
  padding: 20px;
}

.question-info {
  width: 100%;
  margin: 10px;
  display: flex;
  border-left: 1px solid #d3d3d3;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  text-align: center;
}


.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.answer {
  width: 100%;
  margin: 10px;
  border-left: 1px solid #d3d3d3;
  flex-direction: column;
  padding: 15px;
  text-align: left;
}